body,
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

body {
  background-color: #FFF2E1;
  color: #232328;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
}

div,
p,
img,
button,
h1,
h2,
h3 {
  margin: 0;
  /* border: 1px solid;
  border-color: crimson; */
}

.header {
  margin: 1% auto 0;
  height: 10vh;
  width: max(60vw, 300px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
}

.logo_text {
  width: 30%;
  font-size: 1.9em;
  flex-grow: 1;
}

.menu_button {
  background-color: #FFF2E1;
  font-size: 1.8em;
  border: 0;
}

.separator {
  display: block;
  width: 60vw;
  border-top: 1px solid #847972;
  margin: 3% 0 3%;
}

.main {
  height: 130vh;
  width: max(60vw, 300px);
  display: flex;
  flex-direction: column;
}

.profile {
  height: 37.5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.profile_name {
  padding-left: 5%;
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.name {
  font-size: max(7vh, 7vw);
  font-family: "DM Sans", sans-serif;
  font-weight: 350;
  font-style: normal;
  line-height: 0.9;
}

.additional_info {
  display: flex;
  flex-direction: row;
}

.additional_text {
  font-size: max(3vh, 3vw);
  font-family: "Poppins", sans-serif;
  font-weight: 350;
  font-style: normal;
}

.accent_text {
  font-family: "DM Sans", sans-serif;
  font-weight: 350;
  font-style: normal;
  color: #847972;
}

.profile_pic {
  width: 30vh;
  height: auto;
  object-fit: contain;
  padding-right: 5%;
}

.info {
  margin-top: 5%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category_header {
  font-size: min(2em, 3vh);
  margin-bottom: 3%;
}

.category_description {
  font-size: min(1.5em, 2.5vh);
  margin-top: 3%;
}

.main_info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content_block {
  max-width: 30em;
  min-width: 10em;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 0.9em;
  display: inline-block;
}

.sub_heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.description {
  align-self: center;
  width: max(80%, 300px);
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: min(3em, 4vh);
  text-align: center;
}

.cool_picture {
  margin: auto;
  object-fit: contain;
  width: max(15vw, 125px);
}

.footer {
  height: 20vh;
  width: max(60vw, 300px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;

}

.attract_attention {
  font-size: 3em;
  padding-left: 10%;
  padding-right: 10%;
}

.links {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
}

.social_networks {
  background-color: #FFF2E1;
  color: #232328;
  font-size: 3em;
  font-weight: 300;
  border: 0;
  text-decoration: none;
}